@using WebStore.Domain.ViewModels

@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "All";
}

    <div class="container">
        <hr />
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" class="btn btn-success">Добавить</a>
        }
        <hr />
        <table class="table table-bordered">
            @foreach (EmployeeViewModel employee in Model)
            {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td><a asp-action="Edit" asp-route-id="@employee.Id"><i class="fa fa-edit"></i></a></td>
                }
                    <td> @employee.FirstName</td>
                    <td>LastName: @employee.LastName</td>
                    <td>Patronymic: @employee.Patronymic</td>
                    <td><a asp-action="Details" asp-route-id="@employee.Id">Детали</a></td>
                </tr>

            }
        </table>
    </div>
